<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahuahudong.project" >

    <application>
        <activity android:name="com.mahuahudong.project.view.activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.mahuahudong.project.view.activity.WatchHistoryListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MyAttentionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.TrendsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.AccountManagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MovieDetailActivity"
            android:screenOrientation="portrait"
            android:keepScreenOn="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".view.activity.MovieSelectActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
